* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(211, 130, 130);
}

.btn {
  background-color: rgb(123, 33, 33);
}

.nav-link {
  color: rgb(235, 14, 14);
  font-size: 1.2rem;
}

.nav-item {
  margin: 1px;
  padding: 1px;
  transition: all 0.3 ease-out;
}

.nav-item:hover {
  background-color: rgb(181, 141, 141);
}

* {
  margin: 0;
  padding: 0;
}

.iframe {
  margin: 0;
  padding: 5px;
}

.hotnews {
  margin: 0;
  padding: 5px;
}

.card {
  margin: 20px;
}

.noticiaLewis {
  margin: 10px;
  padding: 10px;
}

.articleOne {
  margin: 20px;
  padding: 20px;
}

.encabezadoLewis {
  margin: 20px;
  padding: 20px;
}

.parrafoLewis {
  margin: 20px;
  margin: 20px;
}

.lewis {
  width: auto;
}

.sec1 {
  margin: 20px;
  padding: 20px;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

button {
  border-color: black;
}

p {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h2 {
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h3 {
  font-size: 24px;
}

h4 {
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

h5 {
  margin: 5px;
  padding: 5px;
}

@media screen and (min-width: 480px) {
  .articleOne {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .lewis {
    width: 100%;
  }
  .encabezadoLewis {
    width: 100%;
  }
  .parrafoLewis {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .iframeOne {
    width: 100%;
    margin: 20px;
    padding: 20px;
    align-items: center;
  }
  .iframeTwo {
    width: 100%;
    margin: 20px;
    padding: 20px;
    align-items: center;
  }
  .iframeThree {
    width: 100%;
    margin: 20px;
    padding: 20px;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
}

.articleOne {
  margin: 0;
  padding: 0;
}

footer {
  color: white;
  text-align: center;
  font-size: 15px;
}

footer .redes a {
  color: rgba(207, 23, 23, 0.9);
  font-size: 25px;
  letter-spacing: 20px;
}

footer .redes a:hover {
  color: red;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(211, 130, 130);
}

.btn {
  background-color: rgb(123, 33, 33);
}

.nav-link {
  color: rgb(235, 14, 14);
  font-size: 1.2rem;
}

.nav-item {
  margin: 1px;
  padding: 1px;
  transition: all 0.3 ease-out;
}

.nav-item:hover {
  background-color: rgb(181, 141, 141);
}

* {
  margin: 0;
  padding: 0;
}

.divcito {
  min-height: 100vh;
  position: relative;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1c1d;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

.bgvideo {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  position: relative;
  z-index: 2;
}

.bgvideo h1 {
  font-size: 40px;
  text-align: center;
  color: #f3f3f3;
  font-weight: 700;
}

.bgvideo p {
  font-size: 20px;
  text-align: center;
  color: #f3f3f3;
  font-weight: 900;
}

.btnvideo {
  margin: 15px;
  padding: 15px;
  display: inline-block;
  border: none;
  height: 50px;
  border-radius: 30px;
  padding: 10px 0;
  width: 120px;
  font-size: 20px;
  color: #1c1c1d;
  font-weight: 800;
  transition: 150ms;
  margin-top: 40px;
}

.btnvideo:focus {
  outline: none;
}

.btnvideo:hover {
  background-color: rgb(235, 14, 14);
  transform: translate(0, -5px);
}

.btnvideo:hover {
  color: white;
}

button {
  border-color: black;
}

p {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h2 {
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h3 {
  font-size: 24px;
}

h4 {
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

h5 {
  margin: 5px;
  padding: 5px;
}

footer {
  color: white;
  text-align: center;
  font-size: 15px;
}

footer .redes a {
  color: rgba(207, 23, 23, 0.9);
  font-size: 25px;
  letter-spacing: 20px;
}

footer .redes a:hover {
  color: red;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(211, 130, 130);
  background-image: url(../assets2/images/comunidad1.jpg);
}

.btn {
  background-color: rgb(123, 33, 33);
}

.nav-link {
  color: rgb(235, 14, 14);
  font-size: 1.2rem;
}

.nav-item {
  margin: 1px;
  padding: 1px;
  transition: all 0.3 ease-out;
}

.nav-item:hover {
  background-color: rgb(181, 141, 141);
}

button {
  border-color: black;
}

p {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  margin: 0;
  padding: 100px;
  font-size: 36px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(0, 0, 0);
}

h2 {
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h3 {
  font-size: 24px;
}

h4 {
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

h5 {
  margin: 5px;
  padding: 5px;
}

footer {
  color: white;
  text-align: center;
  font-size: 15px;
}

footer .redes a {
  color: rgba(207, 23, 23, 0.9);
  font-size: 25px;
  letter-spacing: 20px;
}

footer .redes a:hover {
  color: red;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(211, 130, 130);
}

.btn {
  background-color: rgb(123, 33, 33);
}

.nav-link {
  color: rgb(235, 14, 14);
  font-size: 1.2rem;
}

.nav-item {
  margin: 1px;
  padding: 1px;
  transition: all 0.3 ease-out;
}

.nav-item:hover {
  background-color: rgb(181, 141, 141);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parrafocontacto {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a {
  text-decoration: none;
  color: red;
}

* {
  margin: 0;
  padding: 0;
}

.articleOne {
  margin: 0;
  padding: 0;
}

footer {
  color: white;
  text-align: center;
  font-size: 15px;
}

footer .redes a {
  color: rgba(207, 23, 23, 0.9);
  font-size: 25px;
  letter-spacing: 20px;
}

footer .redes a:hover {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.textocomunidad {
  color: white;
  text-shadow: 0 0 10px black;
}

.portada {
  background-image: url(../assets/Imagenes/comunidad3.jpg);
  background-size: cover;
  background-position: center;
  min-height: auto;
  min-width: auto;
}

.galeria {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 200px);
  padding: 20px;
  grid-gap: 20px;
}

.tgaleria {
  color: white;
  text-shadow: 0 0 10px black;
}

.item {
  border: 5px solid black;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.item1 {
  background-image: url(../assets/Imagenes/galeria1.jpg);
}

.item2 {
  background-image: url(../assets/Imagenes/galeria2.avif);
}

.item3 {
  background-image: url(../assets/Imagenes/galeria3.jpg);
}

.item4 {
  background-image: url(../assets/Imagenes/galeria4.jpg);
}

.item5 {
  background-image: url(../assets/Imagenes/galeria5.jpeg);
}

.item6 {
  background-image: url(../assets/Imagenes/galeria6.jpg);
}

.item7 {
  background-image: url(../assets/Imagenes/galeria7.jpeg);
}

.item8 {
  background-image: url(../assets/Imagenes/galeria8.jpeg);
}

@media only screen and (min-width: 480px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.haprende {
  background-image: url(../assets/Imagenes/parallax1.jpg);
  background-size: cover;
  background-position: center;
  min-height: auto;
  min-width: auto;
}

.texto-1 {
  position: center;
  text-shadow: 0 0 20px red;
  font-size: 3rem;
  color: white;
}

.primer-p {
  margin: 20px;
  padding: 20px;
  color: white;
  text-shadow: 0 0 10px black;
  font-weight: bold;
}

.segundo-p {
  margin: 20px;
  padding: 20px;
  color: black;
}

.tercer-p {
  color: white;
  text-shadow: 0 0 5px black;
}

/* Small */
/* Medium */
/* Large */
@media (min-width: 992px) {
  .nav-item:hover {
    background-color: transparent;
  }
}
/* X-Large */
/* XX-Large */

/*# sourceMappingURL=style.css.map */
