* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    background-image: linear-gradient(0deg, #ffffff 0%, #ff8362 33%, #FF0000 66%, #ac4d4d 100%);
}

.btn {
    background-color: rgb(123, 33, 33);
}




.nav-link {
    color: $color-uno;
    font-size: 1.2rem;
}

.nav-item {
    margin: 1px;
    padding: 1px;
    transition: all 0.3 ease-out;
}

.nav-item:hover {
    background-color: rgb(181, 141, 141);
}
