* {
    margin: 0;
    padding: 0;
}


.haprende {
    background-image: url(../assets/Imagenes/parallax1.jpg);
    background-size: cover;
    background-position: center;
    min-height: auto;
    min-width: auto;
background-attachment: fixed;
}

.texto-1 {
    position: center;
    text-shadow: 0 0 5px rgb(117, 7, 7);
    font-size: 3rem;
    color: white;
}

.primer-p {
    margin: 20px;
    padding: 20px;
    text-align: center;
    color: white;
    text-shadow: 0 0 5px black;
    font-weight: bold;
}

.segundo-p {
    margin: 20px;
    padding: 20px;
    color: black
}

.tercer-p {
    color: white;
    text-shadow: 0 0 5px black;
}


@media only screen and (max-width: 576px) {
    .segundo-p {
        display: none;
    }
    .cajita {
        display: flex;
        flex-direction: column;
    }

    .primer-pic {
    width: 300px;
    }
    .segunda-pic {
        width: 300px;
    }
    .tercera-pic {
        width: 300px;
    }
    .cuarta-pic {
        width: 300px;
    }
    .quinta-pic {
        width: 300px;
    }
}