
$color-uno: rgb(235, 14, 14) ;
$color-especial: rgba(0, 0, 0, 0.886);

$font-titulos: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-p: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;