
$color-uno: rgb(235, 14, 14) ;
$color-especial: rgba(0, 0, 0, 0.886);
$color-body1: linear-gradient(0deg, #ffffff 0%, #ff8362 33%, #FF0000 66%, #ac4d4d 100%);
$color-body2: linear-gradient(180deg, #bf0000 0%, #923939 24%, #713e3e 66%, #6c3f3f 100%);
$color-body3: linear-gradient(180deg, #bf0000 0%, #c13939 24%, #bf5e5e 66%, #c17b7b 100%);
$color-body4: linear-gradient(180deg, #d82626 0%, #d13838 24%, #d15d5d 66%, #de9898 100%);

$font-titulos: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-p: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
